<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>

      <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
      <script src="static/js/index.js"></script>
      <style type="text/css">
          .footer {
                 position: fixed;
                 left: 0;
                 bottom: 0;
                 width: 100%;
                 background-color: #121a39;
                 color: white;
                 text-align: center;
        }
      </style>

</head>


<body style="background-image:linear-gradient(-90deg,#42105f,#1e4354);">
<nav class="navbar navbar-inverse " style="background:#121a39">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: white">Drent</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
             <li><a href="logout"><span class="glyphicon glyphicon-log-out"> logout</a></li>
            </span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
       <div class="container">
            <div class="jumbotron">
                <h1>Welcome to our Drent portal!</h1>
                <p>Are you looking for tenants?<br>
                No need to hunt around, add your property in our portal and sit back, we will get back to you.</p>
            </div>
            <h3 style="color:white"><a href="addproperty">click here</a> to add your property</h3>
        </div>


<br><br><br><br><br><br>
<footer class="footer">
      <div class="container">
      <br>
        <p class="text-muted" align="center" style="color: white">Copyright &copy; <code>Drent</code> 2019</p>
      </div>
    </footer>
</body>
</html>
