<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Property details</title>

      <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
      <script src="static/js/index.js"></script>

      <style type="text/css">
          .footer {
                 position: fixed;
                 left: 0;
                 bottom: 0;
                 width: 100%;
                 background-color: #121a39;
                 color: white;
                 text-align: center;
        }
      </style>

</head>


<body style="background-image:linear-gradient(-90deg,#42105f,#1e4354);">
<nav class="navbar navbar-inverse " style="background:#121a39">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: white">Drent</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="../navbar-static-top/">About</a></li>
            <li><a href="../navbar-static-top/">Services</a></li>
             <li><a href="../navbar-static-top/">Contact</a></li>
             <li><a href="logout"><span class="glyphicon glyphicon-log-out"> logout</a></li>
            </span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
       <div class="container">
            <div class="jumbotron">
                <h1 id="title">Title</h1>
                <p id="desc">Description<br>
                Description </p>
            </div>
        </div>
        <div class="container" style="color:white">
          <div class="row" align="center">
            <div class="col-sm-4">
              <img src="static/img/01-1900x1080.jpg" alt="image" class = "thumbnail" height='280px' width="380px"></img>
            </div>
            <div class="col-sm-4">
            <img src="static/img/01-1900x1080.jpg" alt="image" class = "thumbnail" height='280px' width="380px">
            </div>
            <div class="col-sm-4">
              <img src="static/img/01-1900x1080.jpg" alt="image" class = "thumbnail" height='280px' width="380px">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <u><h3>Rent </h3></u>
              <h4 id="rent"><img src="static/img/1175230-24.png" height="25px" width="25px"></span> 2 ETH</h4>
            </div>
            <div class="col-sm-3">
            <u><h3>Security Deposit</h3></u>
            <h4 id="sd"><span class="fa fa-inr"></span> 2500</h4>
            </div>
            <div class="col-sm-3">
              <u><h3>Lock In Period</h3></u>
              <h4 id="lip"><span class="fa fa-calendar"></span> 8 months</h4>
            </div>
            <div class="col-sm-3">
              <u><h3>Notice Period</h3></u>
              <h4 id="sd"><span class="fa fa-calendar"></span> 90 days</h4>
            </div>
          </div>
<br>
          <div class="row">
            <div class="col-sm-4">
              <u><h3>Payment Type </h3></u>
              <h4 id="ptype"></span> Prepaid</h4>
            </div>
            <div class="col-sm-4">  <!--style="background-color:#daeaea29" -->
              <u><h3>Status </h3></u>
              <h4 id="status"><i class="fa fa-check-circle-o" style="color:green"></i> Available</h4>
            </div>
          </div>
        </div>
        <br>

        <div class="container" style="color:white" align="center">
          <hr>
          <h3 >want to rent this now? </h3>
          <button class="btn btn-primary">Make aggrement</button> &nbsp<i class="fa fa-hand-o-left"></i>
        </div>


<br><br><br><br><br><br>
<footer class="footer">
      <div class="container">
      <br>
        <p class="text-muted" align="center" style="color: white">Copyright &copy; <code>Drent</code> 2019</p>
      </div>
    </footer>
</body>
</html>
